/*font-family: 'Dosis', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;*/

/*body: #DE3E00
nav: #5E2F1C*/

*
{
	margin: 0px;
	border: 0px;
	padding: 0px;
}

body
{
	font-family: 'Dosis', sans-serif;
}

a:link, a:visited, a:hover, a:active 
{
    color: inherit;
    text-decoration: inherit;
}

.icons
{
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

#nav-section
{
	height: 100%;
	width: 50px;
}

#nav-wrapper
{
	position: absolute;
	height: 100%;
	width: 50px;
	background-color: #447EE3;
	box-shadow: 3px 0px 5px #4F6799;
	z-index: 4;
}

#nav-vertical
{
	width: 100%;
}

#nav-button
{
	cursor: pointer;
	display: block;
	width: 30px;
	height: auto;
	margin: 10px auto;
}

#nav-content
{
	text-align: center;
	color: white;
}

.nav-item
{
	visibility: hidden;
	font-size: 1.5em;
}

.nav-item-extended
{
	visibility: visible;
	-webkit-animation: shiftNavItem .4s; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function: ease-out;
}

.nav-item:hover
{ 
	cursor: pointer;
	opacity: .5;
	font-size: 1.75em;
	font-weight: bolder;
    -webkit-animation: hoverNavItem .2s;
    -webkit-animation-timing-function: ease-out;
}

#shadowbox
{
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 3;
	opacity: 0;
	background-color: black;
	display: none;
}

.spreadable
{

}

#content-section
{
	position: absolute;
	float: right;
	margin-left: 50px;
	width: calc(100% - 50px);
	height: 100%;
	overflow-x: hidden;
	overflow-y:hidden;
	color: white;
}

#content-wrapper
{
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #334364;
	color: white;
	overflow-x: hidden;
}

#introduction
{
	padding: 30px;
	display: inline-block;
}

#hey
{
	font-size: 2em;
}

#william
{
	font-size: 3.5em;
	-webkit-animation: bounceIntroText 1.2s; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
}

#eric
{
	font-size: 3.5em;
	-webkit-animation: bounceIntroText 1s; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
}

#dunkerley
{
	font-size: 3.5em;
	-webkit-animation: bounceIntroText .8s; /* Chrome, Safari, Opera */
	-webkit-animation-timing-function: linear;
}

#cards-wrapper
{
	position: relative;
	height: 100%;
	width: 100%;
	overflow-y:hidden;
	overflow-x: hidden;
}

.project-intro
{
	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
}

.project-intro:hover
{
	cursor: pointer;
}

.project-intro-hidden
{
	-webkit-animation: hideMe .5s forwards;
}

.project-shadowbox
{
	width: 100%;
	height: 100%;
	opacity: .90;
	background-color: black;
}

.project-card
{
	background-color: white;
	position: absolute;
  	left: 50%;
  	top: 50%;
  	-webkit-transform: translate(-50%, -50%);
  	box-shadow: 0px 0px 2px 2px #4F6799;
  	color:#334364;
  	font-size: .75em;
  	border-radius: 5px;
  	border-width: 2px;
  	border-style: solid;
  	border-color: #334364;
  	padding: 10px;
  	max-width: 35%;
  	min-width: 300px;
  	list-style-position: inside;
}

.project-card:hover
{
	cursor: pointer;
}

.project-card h1
{
	font-size: 2em;
	text-align: center;
	font-weight: bolder;
}

.project-card img
{
	display: block;
    margin: 10px auto 10px;
	width: 90%;
	height: auto;
	border-radius: 5px;
}

.project-card p:nth-of-type(1)
{
	text-align: center;
	font-size: .85em;
}

.project-card p:nth-of-type(2)
{
	font-size: 1.25em;
}

#about-top
{
	width: 100%;
}

#about-top-image
{
	float: left;
	width: 30%;
	height: auto;
}

#about-top-text
{
	float: right;
	width: 50%;
}

/*nonspreadable elements go here*/
.nonspreadable
{
	position: absolute;
	z-index:2;
}

#isolated-portrait
{
	height: 80%;
	bottom: 0px;
	right: 0px;
}

/*Animations Below*/
@-webkit-keyframes bounceIntroText
{
    0%   {font-size: 0em}
    10%  {font-size: calc(3.5em * .03)}
    20%  {font-size: calc(3.5em * .15)}
    30%  {font-size: calc(3.5em * .30)}
    40%  {font-size: calc(3.5em * .80)}
    50%  {font-size: calc(3.5em * .70)}
    60%  {font-size: calc(3.5em * .97)}
    70%  {font-size: calc(3.5em * .80)}
    80%  {font-size: calc(3.5em * .99)}
    90%  {font-size: calc(3.5em * .90)}
    100% {font-size: 3.5em}
}

/* Standard syntax */
/*@keyframes bounceText
{
	0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    75%  {color: green;}
    100% {color: red;}
}
*/

@-webkit-keyframes shiftNavItem
{
    0%   {margin-left: -25px; opacity: 0;}
    100% {margin-left: 0px; opacity: 1;} 
}

@-webkit-keyframes hoverNavItem
{
    0%   {margin-right: -50px; opacity: 1; font-size: 1.75em;}
    50%  {margin-right: 0px; font-size: 1.75em;}
    100% {opacity: .5;} 
}

@-webkit-keyframes spreadAnimation
{
    0%   {margin-left: 0;}
    100% {margin-left: 50px;} 
}

@-webkit-keyframes shrinkAnimation
{
    100% {margin-left: 0px;}
}

@-webkit-keyframes hideMe
{
    100% {opacity: 0; visibility: hidden;}
}

@-webkit-keyframes shadowboxFadeMe
{
    100% {opacity: .90;}
}